@charset "utf-8";
/* CSS Document */

*{
	margin:0px;
	padding:0px;
}
.wrap{
	width:980px;
	height:1386px;
	background:url(../image/task6/bg.jpg) no-repeat;	
	margin:0px auto;
	border:1px solid #CCC;
}
.head{
	position:relative;
	width:892px;
	height:63px;
	margin:0px 44px; 
	font-family:"黑体";
	font-size:12px;
	background:url(../image/task6/head_left.jpg) no-repeat;
}
.head_left{
	width:110px;
	height:61px;
	float:left;
	color:#fff;		
}
.head_right{
	width:46px;
	height:61px;
	float:right;
	color:#d45d5c;
}
.head_left span,.head_right span{
	position:absolute;
	bottom:4px;
	padding:2px;
}
.content{
	margin:30px 44px;
	/*border:1px solid red;*/
	height:1200px;
	width:890px;
}
.content_ad{
	height:301px;
	margin-bottom:30px;
}
.ad_img{
	background:url(../image/task6/img1.jpg) no-repeat;
	width:641px; 
	height:301px;
	float:left;
	margin-right:46px;
}
.ad_img_left img,.ad_img_right img{
	height:301px;
	width:191px;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	opacity:0.5;	
}
.ad_img_left{
	float:left;	
}
.ad_img_right{
	float:right;	
}
.ad_text{
	height:301px;
	width:203px;
	float:right;
}
.ad_text_common{
	font-size:18px;
	color:#000;
	font-family:"微软雅黑";
	line-height:32px;
	/*text-decoration:underline;*/
	text-transform:uppercase;
	border-bottom:2px solid #000;
}
.ad_text1{
	font-size:24px;
}
.ad_text2{
	font-size:12px;
	color:#676767;
	font-family:"楷体";
	line-height:10px;
	font-style:italic;
}
.ad_text3{
	font-size:116px;
	color:#75b86b;
	font-family:"微软雅黑";
	font-style:italic;
	margin-left: -15px;
}
.ad_text4,.ad_text5,.ad_text6{
	
	color:#cc8091;
	font-family:"微软雅黑";
}
.ad_text4{
	font-size:55px;
	float:left;
}
.ad_text5{
	font-size:21px;
	line-height:12px;
}
.ad_text6{
	font-size:12px;
	color:#ccc;
}
.ad_text_last{
	position:relative;
	height:60px;
}
.last_right{
	position:absolute;
	bottom:0px;
	left:78px;
}
/*左上三栏文字样式*/
.content_list{
	margin:30px 0px;
	width:641px;
}
.clear{
	clear:both;
}
.whatlist{
	width:230px;
	float:left;
	line-height:16px;
}
.whattitle,.whentitle,.howtitle{
	font-size:16px;
	font-family:"微软雅黑";
	font-weight:bold;
	text-decoration:underline;
	margin-bottom:10px;
}
.whattitle{
	color:#418c59;
}
.what_content{
	font-size:12px;
	color:#767777;
	font-family:"宋体";
}
.whenlist{
	width:205px;
	margin:0px 29px;
	float:left;
	line-height:16px;
}
.whentitle{
	color:#d2994f;
}
.when_content{
	font-size:12px;
	color:#231815;
	font-family:"微软雅黑";
}
.howlist{
	float:right;
	width:147px;
	line-height:12px;
}
.howtitle{
	color:#cc7680;
}
.how_content{
	line-height:20px;
	font-size:12px;
	color:#231815;
	font-family:"微软雅黑";
}
.how_content_bottom{
	margin-top:28px;
	font-size:12px;
	font-family:"微软雅黑";
	line-height:20px;
}
.pinktext{
	color:#cd4a48;
	font-style:italic;
	
}

/*content_detail样式*/
.content_detail{
	margin:70px 0px 30px;
	width:892px;
	height:650px;
}
.content_detail_left{
	float:left;
	width:415px;
	position:relative;
	margin-right:15px;	
}
.detail_left_title1,.detail_left_title2{
	font-family:"黑体";
	line-height:42px;
	font-weight:bolder;
	color:#11456b;
}
.detail_left_title1{
	font-size:42px;
}
.detail_left_title2{
	font-size:33px;
}
.yellowtext1{
	font-style:italic;
	color:#f5e327;
	font-size:72px;
}
.content_detail_left img{
	margin:15px 0;
}
.article{
	line-height:16px;
	color:#767777;
	font-size:12px;
	font-family:"宋体";
}
.article p{	
	text-indent:2em;
}
.bit_text{   
	margin-top: 15px;
    padding: 15px 5px 5px 0px;
	float:left;
	width:70px;
	height:45px;
	font-size:70px;
	color:#f5e327;
	font-family:"微软雅黑";
}
.article img{
	/*position:absolute;*/
	float:right;
	margin:25px 5px 10px 27px;
}
.content_detail_right{
	background:url(../image/task6/img2.jpg) no-repeat;
	width: 458px;
	height:650px;
	float:right;
}
.detail_right_img{
	position:relative;
	width:458px;
	height:257px;
}
.upImgText{
	width:458px;
	height:60px;
	background:url(../image/task6/bg_littlemask.jpg) no-repeat;
	background: rgba(0,0,0,0.5);
	position:absolute;
	bottom:0px;
	
	font-family:"微软雅黑";
}
.upImgText img{
	margin:0px 5px 8px 33px;
	 display: inline-block;
    vertical-align: middle;
}
.upImgText_big{
	font-size:26px;
	color:#fff;
	margin-top: 12px;
    display: inline-block;
}
.upImgText_small{
	margin-left:5px;
	font-size:16px;
	color:#72b16a;
	font-style:italic;
}

.detail_right_list{
	background:url(../image/task6/content_right_green.jpg) no-repeat;
	width:458px;
	height:318px;
	margin-top:32px;
	position: relative;
}
.detaillist{
	padding:20px;
	width:459px;
	height:140px;
	font-size:16px;
	line-height:16px;
	color:#5b5b5b;
	font-family:"宋体";
}
.detaillist ul{
	background:url(../image/task6/content_right_list.png) no-repeat left center;
}
.detaillist li{
	padding:10px;
	margin:2px;
	list-style:none;
}
.detaillist span{
	font-size:12px;
	color:#5a5b5b;
	font-family:"宋体";
	font-style:italic;
	text-align:right;
}
.redPart{
	width:260px;
	height:160px;
	background:url(../image/task6/content_right_red.jpg) no-repeat;	
	position:absolute;
	bottom:0px;
}
.redPart img{
	margin-left:5px;
	margin-right:5px;
}
.list_left{
	float:left;
}
.zero{
	font-size:110px;
	color:#fff;
	font-family:"微软雅黑";
	margin-left: 10px;
}
.nexttext,.nexttext1{
	font-size:21px;
	color:#fff;
	font-family:"黑体";
	font-style:italic;
	line-height:24px; 
	margin-top:36px;
	text-align:left;
}
.nexttext1{
	margin:0px;
}
.lasttext{
	font-size:12px;
	color:#fff;
	font-family:"黑体";
	line-height:13px;
	text-align:left;
}
.wordPart{
	font-size:14px;
	color:#5a5b5b;
	font-family:"黑体";
	line-height:16px;
	letter-spacing:140%;
	float:right;
	width:180px;
	position:relative;
}
.typeword1{
	font-size:72px;
	color:#d45d5c;
	font-family:"黑体";
	position: absolute;
    left: -40px;
    top: 10px;
}
.typeword2{
	font-size:72px;
	color:#d45d5c;
	font-family:"黑体";
	position: absolute;
    right: -20px;
    bottom: -26px;
}
.wordcontent{
	text-indent:3em;
}
/*底部样式*/
.footer{
	width:892px;
	height:63px;
	margin:0px 44px; 
	font-family:"黑体";
	font-size:12px;
	color:#d45d5c;
}
.footer_text{
	float:right;
}




























